{
  "BindAddress": ":53",
  "PrimaryDNS": [
    {
      "Name": "Ndoskrnl DNS",
      "Address": "127.0.0.1:5354",
      "Protocol": "udp",
      "SOCKS5Address": "",
      "Timeout": 5,
      "EDNSClientSubnet": {
        "Policy": "auto",
        "ExternalIP": "114.514.191,981",
	"NoCookie": true
      }
    }
  ],
  ...
  "OnlyPrimaryDNS": true,
  "CacheSize": 0,
  ...
}
