{
  "log": {
    // "access": "/path/to/access/log/file",

    // "error": "/path/to/error/log/file",

    // Log level, one of "debug", "info", "warning", "error", "none"
    "loglevel": "warning"
  },
  "inbounds": [{
    "tag": "dns-in",
    "port": 65534,
    "listen": "0.0.0.0",
    "protocol": "dokodemo-door",
    "settings": {
      "port": 53,
      "address": "1.1.1.1",
      "network": "tcp,udp"
    }
  },{
    "tag": "transparent-inbound",
    "port": 12345,
    "listen": "0.0.0.0",
    "protocol": "dokodemo-door",
    "settings": {
      // Disable timeout setting for keeping persistent connection. Such as FCM.   
      //  "timeout": 10,
      "network": "tcp,udp",
      "followRedirect": true
    },
    "sniffing": {
      "enabled": true,
      "destOverride": ["http", "tls"]
    },
    "streamSettings": {
      "sockopt": {
        "tproxy": "tproxy" // 透明代理使用 TPROXY 方式
      }
    }
  },{
    "tag": "socks-inbound",
    "port": 1080,
    "listen": "0.0.0.0",
    "protocol": "socks",
    "settings": {
      "auth": "noauth"
    },
    "sniffing": {
      "enabled": true,
      "destOverride": ["http", "tls"]
    }
  },{
    "tag": "http-inbound",
    "port": 1081,
    "listen": "0.0.0.0",
    "protocol": "http",
    "settings": {
    }
  }],
  "outbounds": [{
    "tag": "proxy",
    "protocol": "vmess",
    "settings": {
      "vnext": [
        {
          "address": "www.example.com",
          "port": 8888,
          "users": [
            {
              "id": "uuid",
              "security": "aes-128-gcm",
              "alterId": 64
            }
          ]
        }
      ]
    },
    "streamSettings": {
      "network": "kcp",
      "kcpSettings": {
        "uplinkCapacity": 5,
        "downlinkCapacity": 50,
        "readBufferSize": 2,
        "mtu": 1350,
        "header": {
          "type": "none",
          "request": null,
          "response": null
        },
        "tti": 50,
        "congestion": true,
        "writeBufferSize": 2
      },
      "wsSettings": null,
      "tcpSettings": null,
      "tlsSettings": {},
      "security": "",
      "sockopt": {
        "mark": 255
      }
    }
  },{
    "tag": "direct",
    "protocol": "freedom",
    "settings": {
      "domainStrategy": "UseIP"
    },
    "streamSettings": {
      "sockopt": {
        "mark": 255
      }
    }
  },{
    "tag": "blocked",
    "protocol": "blackhole",
    "settings": {
      "response": {
        "type": "http"
      }
    }
  },{
    "tag": "dns-out",
    "protocol": "dns",
    "streamSettings": {
      "sockopt": {
        "mark": 255
      }
    }
  }],
  "routing": {
    "domainStrategy": "IPOnDemand",
    "rules":[
      {
        // Proxy DNS request
        "type": "field",
        "inboundTag": ["dns-in"],
        "outboundTag": "dns-out"
      },
      {
        // Bypass private IPs.
        "type": "field",
        "ip": [
          "geoip:private",
          "geoip:cn"
        ],
        "outboundTag": "direct"
      },
      {
        // Bypass all china sites.
        "type": "field",
        "domain": ["geosite:cn"],
        "outboundTag": "direct"
      },
      {
        // Blocks major ads.
        "type": "field",
        "domain": ["geosite:category-ads"],
        "outboundTag": "blocked"
      },
      { // BT 流量直连
        "type": "field",
        "protocol":["bittorrent"],
        "outboundTag": "direct"
      }
    ]
  },
  "dns": {
    "servers": [
      "8.8.8.8",
      "1.1.1.1",
      "9.9.9.9",
      {
        "address": "114.114.114.114",
        "port": 53,
        // List of domains that use this DNS first.
        "domains": [
          "geosite:cn",
          "www.example.com"
        ]
      }
    ]
  },
  "policy": {
    // Connection policys by user levels
    "levels": {
      "0": {
        "uplinkOnly": 0,
        "downlinkOnly": 0
      }
    },
    "system": {
      "statsInboundUplink": false,
      "statsInboundDownlink": false
    }
  }
}
